/* Add application styles & imports to this file! */
*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.border{
  border:solid 3px blue;
  margin:20px;
}
.dflex{
  display: inline-flex;
  justify-content: center;
}
